
#loading {
    text-align: left;
    width: 2rem;
    height: 2rem;
    border: 5px solid #f3f3f3;
    border-top: 6px solid red;
    border-radius: 100%;
    margin: auto;
    display: none;
    animation: spin 1s infinite linear;
}
#loading.display {
  display: block;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
